<ion-header>
  <ion-toolbar>
    <ion-title>
    <ion-avatar>
       <img src="https://i.pinimg.com/originals/2f/67/8b/2f678bb53ba29f817ce2b5722c7c72dc.gif">
    </ion-avatar>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <div class="navbar-text-center">
        <div class = "heading" style="margin: 50px">
          <h4>Happy Thoughts</h4>
          <h6 class="font-italic">Bully-proof your thoughts!</h6>
        </div>
      </div>
  <ion-card>
      <div class="white">
      <ion-card-content>
          <div class="container1">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class="jumbotron py-3">
                      <p class="font-weight-light font-italic mb-3">
                        Happy Thoughts will automagically use AI to analyze the sentiment of your thoughts. It will score your thoughts on a scale of 0 to 5, 5 being the happiest as can be! Negative thoughts are filtered for you.
                      </p>
                    <textarea type="text" class="form-control mb-3" placeholder="Tweet your message here." [(ngModel)]="message.message"></textarea>
                    <div>
                      <ion-button size="small" fill="outline" color="dark" (click)="createMessage()">Post</ion-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </ion-card-content>
    </div>
    </ion-card>

  <div class="container2">
    <div class="row mb-4">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let message of messages">
                <ion-card class="white">
              <h6 class="text-primary font-weight-light">HAPPINESS SCORE: <span class="font-weight-bold">{{ message.score }}</span></h6>
              <h3 class="py-3">
                {{ message.message }}
              </h3>
              <small>
                <p class="text-muted font-italic">
                  Posted on {{ message.dateCreated }}
                </p>
              </small>
            </ion-card>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ion-content>