<ion-content>
  <div class="navbar text-center">
    <div style="margin: 0 auto">
      <h4>Happy Messages</h4>
      <h6 class="font-italic">Your happiness-fix in a miserable world.</h6>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="jumbotron py-3">
          <h5>
            Post something happy!
          </h5>
          <small>
            <p class="font-weight-light font-italic mb-3">
              Our service will automagically use AI to analyse the sentiment of the message so you can live in the perfect happiness bubble you deserve.
            </p>
          </small>
          <textarea type="text" class="form-control mb-3" placeholder="Happiness is just seconds away..." [(ngModel)]="message.message"></textarea>
          <div class="btn btn-primary" (click)="createMessage()">Go!</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            The happiness stream
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let message of messages">
              <h6 class="text-primary font-weight-light">HAPPINESS SCORE: <span class="font-weight-bold">{{ message.score }}</span></h6>
              <h3 class="py-3">
                {{ message.message }}
              </h3>
              <small>
                <p class="text-muted font-italic">
                  Posted on {{ message.dateCreated }}
                </p>
              </small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ion-content>