ion-card.background-card{
  background-color: #a9add1f3;
  width: 80%;
  margin-left: 10%;
}

.navbar-text-center {
  color: white;
}

.white {
  text-align: center;
}

ion-card {
  background: white;
}

.container1 {
  text-align: center;
}

ion-content.background{
  --background: rgb(255, 200, 21);
}