ion-card.background-card{
  background-color: #a9add1f3;
  width: 80%;
  margin-left: 10%;
}

.white {
  text-align: center;
  width: 90%;
}

.container1 {
  text-align: center;
}

.background{
  background-color: rgb(255, 196, 0);
}