<ion-header>
  <ion-toolbar>
    <ion-title>
    <ion-avatar>
       <img src="https://i.pinimg.com/originals/2f/67/8b/2f678bb53ba29f817ce2b5722c7c72dc.gif">
    </ion-avatar>
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="navbar text-center">
    <div style="margin: 50px">
      <h4>Happy Tweets</h4>
      <h6 class="font-italic">How your tweets scores are making an impact.</h6>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <canvas baseChart [datasets]="graphData" [labels]="graphLabels" [options]="graphOptions"
          [legend]="graphLegend" [chartType]="graphType">
        </canvas>
      </div>
    </div>
  </div>
</ion-content>