<ion-content>
  <div class="navbar text-center">
    <div style="margin: 50px">
      <h4>Happy Tweets</h4>
      <h6 class="font-italic">How your tweets scores are making an impact.</h6>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <canvas baseChart [datasets]="graphData" [labels]="graphLabels" [options]="graphOptions"
          [legend]="graphLegend" [chartType]="graphType">
        </canvas>
      </div>
    </div>
  </div>
</ion-content>